extends layout

block content
    .container
        h1 About Us
        p Chartreuse farm-to-table tote bag lumbersexual austin, iceland fap readymade locavore stumptown.
        ul
            li Vivamos todos juntos
            li Libre y soberanos
            li en casa de Ramos
        p Chartreuse farm-to-table tote bag lumbersexual austin, iceland fap readymade locavore stumptown.
           