extends layout

block content
   .jumbotron
       .container
           h1 How may I help you?
           p Chartreuse farm-to-table tote bag lumbersexual austin, iceland fap readymade locavore stumptown.
           a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    .container
        .row
            .col-md-4
                h4 About Us
                p Chartreuse farm-to-table tote bag lumbersexual austin, iceland fap readymade locavore stumptown.
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h4 Services
                p Chartreuse farm-to-table tote bag lumbersexual austin, iceland fap readymade locavore stumptown.
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h4 Get In Touch
                p Chartreuse farm-to-table tote bag lumbersexual austin, iceland fap readymade locavore stumptown.
                a.btn.btn-default(href='#') View Details

